@use '../abstracts' as *;

.playground {
  display: grid;
  grid-template-areas: 'score board mascot';
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  gap: 32px;
  width: 100%;

  &__score {
    grid-area: score;
    justify-self: center;
  }

  &__board {
    grid-area: board;
  }

  &__mascot {
    grid-area: mascot;
    justify-self: center;
  }

  @include tablet {
    grid-template-areas:
      'score'
      'board'
      'mascot';
    grid-template-columns: 1fr;
    gap: 24px;
    justify-items: center;
  }

  @include mobile {
    gap: 16px;
  }
}
